.gameSection{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
}

.arrRowContainer{
  display: flex;
  justify-content: center;
  width: 600px;
}

.circleSource{
  width: 20px;
  height: 20px;
  //background-color: black;
  margin: 0 10px 10px 0;
  border-radius: 50%;
}

.tileContainer{
  display: flex;
}

.matrixRow .matrixColumn{
  width: 20px;
  height: 20px;
  //background-color: rgb(0,0,0);
  margin:0 10px 10px 0;
}

.leftSection, .rightSection{
  width: 20px;
  margin-right: 10px;
}

.midSection{
  display: flex;
  justify-content: center;
}



